body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /*  background: url("https://wallpaperaccess.com/full/3503177.jpg") no-repeat; */
  background: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/045/045/original/wallpapersden.com_forest-mountains-sunset-cool-weather-minimalism_3840x2160.jpg?1661882999")
    no-repeat;
  background-position: left top;
  background-size: cover;
  background-color: #0a131c;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

  color: midnightblue;
  font-size: 80px;
  font-weight: 900;
  line-height: 50px;
  padding-bottom: 15px;
}
ul,
li {
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  color: black;
  font-size: 18px;
  font-weight: 450;
  line-height: 28px;
  text-align: left;
}
li:first-letter {
  text-transform: capitalize;
}

.main-border {
  max-width: 950px;
  display: block;
  margin: 0 auto;
  opacity: 0.65;
  position: center bottom;
  margin-top: 10%;
  margin-bottom: 10%;
}

.weather-app {
  background-color: skyblue;
  padding: 20px;
  border: 1px dotted blue;
  border-radius: 10px;
}

.weather-temperature img {
  margin-right: 10px;
  height: 75px;
  width: 75px;
}
.weather-temperature #temperature {
  font-size: 60px;
  font-weight: 750;
  line-height: 1;
  padding-bottom: 10px;
}

.weather-temperature .units {
  color: olive;
  font-size: 18px;
  position: relative;
  top: -30px;
}
.weather-temperature .active {
  color: darkblue;
  cursor: default;
  text-decoration: none;
  font-weight: 700;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

#description {
  font-weight: 700;
  font-style: italic;
}
.container1 {
  display: block;
  padding: 20px;
  margin: 0 auto;
}
.container2 {
  padding: 10px;
  margin: 10px 20px 10px 20px;
}
.findButton {
  margin: 10px;
  background-color: darkolivegreen;
  color: white;
  border: 3px solid darkolivegreen;
  border-radius: 10px;
}
.findButton:hover {
  border: 3px solid darkolivegreen;
  cursor: pointer;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: black;
}

.weather-fcst-date {
  font-size: 16px;
  opacity: 0.5;
  font-weight: 800;
}

.weather-fcst-temperature {
  font-size: 13px;
}

.weather-fcst-temperature-max {
  font-weight: 750;
}

.weather-fcst-temperature-min {
  opacity: 0.5;
}
.footer {
  color: white;
}
