body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}

h1 {
  color: midnightblue;
  font-size: 50px;
  font-weight: 900;
  line-height: 28px;
  padding-bottom: 15px;
}
ul,
li {
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  color: black;
  font-size: 18px;
  font-weight: 450;
  line-height: 28px;
  text-align: left;
}
li:first-letter {
  text-transform: capitalize;
}

.main-border {
  max-width: 950px;
  margin: 30px auto;
}

.weather-app {
  background-color: lightblue;
  padding: 20px;
  border: 1px dotted blue;
  border-radius: 5px;
}

.weather-temperature img {
  margin-right: 10px;
  height: 75px;
  width: 75px;
}
.weather-temperature #temperature {
  font-size: 60px;
  font-weight: 750;
  line-height: 1;
  padding-bottom: 10px;
}

.weather-temperature .units {
  color: olive;
  font-size: 18px;
  position: relative;
  top: -30px;
}
#description {
  font-weight: 700;
  font-style: italic;
}
.container1 {
  display: block;
  padding: 20px;
  margin: 0 auto;
}
.container2 {
  padding: 10px;
  margin: 10px 20px 10px 20px;
}
.findButton {
  margin: 10px;
  background-color: darkolivegreen;
  color: white;
  border: 3px solid darkolivegreen;
  border-radius: 10px;
}
.findButton:hover {
  border: 3px solid darkolivegreen;
  cursor: pointer;
}
